#railTrail_map, #main_map {
  height: 400px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid #999;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .2);
}

body {
  background: #DBF3FA;
  font-family: "Gill Sans", sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
}

.text {
  margin: auto;
  width: 60%;
  justify-content: center;
}

.container {
  margin: 1rem;
}

@media screen and (min-width: 1113px) {
  #railTrail_map, #main_map {
    width: 80%;
  }

  .text {
    width: 35%;
  }
}
