#railTrail_map, #main_map {
  height: 400px;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid #999;
 }

 h1 {
   font-family: sans-serif;
   text-align: center;
 }

 p {
   font-family: sans-serif;
   text-align: left;
 }

 .text {
   margin: auto;
   width: 60%;
   justify-content: center;
 }

 .container{
   margin: 1rem;
 }

 @media screen and (min-width: 1113px) {
   #railTrail_map, #main_map {
     width: 80%;
   }
   .text {
     width: 35%;
   }
 }
